<h1>{{ month }} </h1>
{{#each days}}
  {{#if (beginWeek this.name this.number)}}
    <div class="row">
       <div class="col s12">
        <h4 id="week{{ this.number }}">{{getWeek this.fullDay }}</h4>
      </div> 
  {{/if}}
    {{#if (isFirstDayInMonth this.number)}}
      <div class="card col s3 {{ ../offset }}">
    {{else}}
  {{#if (isFriday this.name)}}
     <div class="card col s3 offset-s3">
  {{else}}
     <div class="card col s3">
  {{/if}}
    {{/if}}  
      <div class="card-image">
        <img src="img/bitmaps/{{this.img}}">
          <span class="card-title"></span>
          <a class="btn-floating halfway-fab waves-effect waves-light teal"><i class="far fa-calendar-plus"></i></a>
      </div>
      <div class="card-content center-align">
        <h4>{{this.name}}, {{this.number}}</h4>
      </div>
    </div>
     {{#if (endWeek this.name)}}
      </div>
      <div class="right-align weekBreaker"></div>
    {{/if}}
  {{/each}}
  </div>
  {{> _scroll}}
  {{!-- offset-s6 --}}